// main: ../style.less

.education{
    
}

.education__title{
    padding: 3rem;
    
    background-color: @yellow;
    
    font-size: 2.13rem;
    text-transform: uppercase;
    font-weight: 700;
    color: @white;
    
    @media @notebook{
        padding: 1.5rem;
        
        font-size: 1.6rem
    }
    
    @media @mobile{
        font-size: 1.2rem;
        padding: 1.5rem;
    }
}

.education__item{
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    
    @media @notebook{
        font-size: .8rem;
    }
    
    @media @tablet{
        font-size: 1rem;
    }
    
    @media @mobile{
        font-size: .8rem;
        padding: 1rem;
    }
}

.education__date{
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.education__inst{
    max-width: 26em;
    padding-bottom: 0.5rem;
}

.education__city{
    font-weight: 700;
}