//main: ../style.less

.experience{
    height: 100%;
    width: 50%;
}

.experience__title{
    padding: 3rem;
    
    background-color: @yellow;
    
    font-size: 2.13rem;
    text-transform: uppercase;
    font-weight: 700;
    color: @white;
}

.experience__item{
    padding-left: 3rem;
    font-size: 1.2rem;
}