// main: ../style.less

.skills{
    height: 100%;
    width: 50%;
    
    @media @mobile{
        font-size: 1.2rem;
        width: 100%;
        height: auto;
    }
}

.skills__title{
    padding: 3rem;
    
    background-color: @yellow;
    
    font-size: 2.13rem;
    text-transform: uppercase;
    font-weight: 700;
    color: @white;
    
    @media @notebook{
        padding: 1.5rem;
        font-size: 1.6rem;
    }
    
     @media @mobile{
        font-size: 1.2rem;
    }
    
}

.skills__item{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    padding-left: 3rem;
    
    @media @mobile{
        padding-left: 1rem;
    }
    
}

.skills__skill{
    font-size: 1.2rem;
    width: 5em;
    
    @media @notebook{
        font-size: .9rem;
    }
    
    @media @tablet{
        font-size: 1rem;
    }
    
}

.skills__bar{
    padding: 0 2rem;
}

.skills__progress_bar{
    width: 250px;
    height: 1rem;
    
    background-color: @black;
    
    @media @notebook{
        width: 200px;
        height: .5rem;
    }
    
    @media @mobile-sm{
        width: 120px;
        height: .5rem;
    }
    
}

.skills__progress{
    height: 100%;
    
    background-color: @yellow;
}

